<section class="power-section" id="harness">
  <div class="power-container">
    <div class="power-row">

      <!-- Imagen -->
      <div class="power-col image-col">
        <div class="power-image">
          <img src="/img1.webp" alt="" />
          <div class="power-saving-content">
            <img src="/img2.webp" alt="" />
            <span>50% Savings</span>
          </div>
        </div>
      </div>

      <!-- Texto -->
      <div class="power-col text-col">
        <div class="power-text">
          <h2>Take The Most of What Nature Offers</h2>
          <h3>Harnessing Power of the Elements</h3>
          <p>
            Sunify provides innovative solar energy solutions for homes and businesses,
            reducing energy costs and environmental impact. Trust our expert team for clean,
            reliable, and renewable energy.
          </p>
        </div>

        <div class="power-call">
          <a href="#" class="power-call-icon">
            <img src="/icons/phone-call.svg" alt="Phone" />
          </a>
          <div>
            <p>Have a Question? Call Us Today</p>
            <a href="tel:1234567890">123 456 7890</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
