<section class="blog-sec" id="blog">
  <div class="blog-container">
    <div class="blog-header-center">
      <h2>Our Blog</h2>
      <h3>Insights and Innovations</h3>
    </div>

    <div class="blog-grid">
      <div class="blog-card">
        <div class="blog-img">
          <img src="/EnergyNews.webp" alt="How to Maximize Your Solar Energy Savings" />
        </div>
        <div class="blog-info">
          <span class="blog-category">Energy News</span>
          <h6>How to Maximize Your Solar Energy Savings</h6>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <a href="#">Read more</a>
        </div>
      </div>

      <div class="blog-card">
        <div class="blog-img">
          <img src="/Sustainability.webp" alt="Advantages of Going Solar Power System" />
        </div>
        <div class="blog-info">
          <span class="blog-category">Sustainability</span>
          <h6>Advantages of Going Solar Power System</h6>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <a href="#">Read more</a>
        </div>
      </div>

      <div class="blog-card">
        <div class="blog-img">
          <img src="/EfficiencyT.webp" alt="Solar Energy System for Rural Areas" />
        </div>
        <div class="blog-info">
          <span class="blog-category">Efficiency Tips</span>
          <h6>Solar Energy System for Rural Areas</h6>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <a href="#">Read more</a>
        </div>
      </div>

      <div class="blog-card">
        <div class="blog-img">
          <img src="/Tips.webp" alt="Green Energy Incentives and Rebates" />
        </div>
        <div class="blog-info">
          <span class="blog-category">Tips</span>
          <h6>Green Energy Incentives and Rebates</h6>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <a href="#">Read more</a>
        </div>
      </div>
    </div>
  </div>
</section>
