<section class="contact-section" id="contact">
  <div class="contact-bg-overlay"></div>
  <div class="contact-container">
    <div class="contact-content">
      <div class="contact-title">
        <h2>We are Always Ready for you</h2>
        <h3>Have Questions? We are here to Help You</h3>
      </div>
      <a href="tel:+1234567890" class="btn-quote">
        <img src="/icons/phone-call.svg" alt="Phone" />Call now!
      </a>
    </div>
  </div>
</section>