---
---
<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-grid">
      <div class="footer-block">
        <a href="/">
          <img src="/logo.svg" alt="logo" />
        </a>
        <p class="footer-text">
          We're a team dedicated to provide you with the tools and products to use the
          power of Sun and Wind convert it to your very own sustainable home energy.
        </p>
      </div>

      <div class="footer-address">
        <h2 class="footer-title">Where We are</h2>
        <p>569 W Loma Alta Drive Altadena, CA 91001, United States</p>
      </div>

      <div class="footer-contact">
        <h2 class="footer-title">Let’s Get in Touch</h2>
        <span>mail</span>
        <a href="mailto:info@example.com">info@example.com</a>
        <span>phone</span>
        <a href="tel:1234567890">123 456 7890</a>
      </div>

      <div class="footer-social">
        <h2 class="footer-title">Social Media</h2>
        <div class="social-icons">
        <a href="#" class="social-btn"><img src="/icons/facebook.svg" alt="Facebook" /></a>
        <a href="#" class="social-btn"><img src="/icons/twitter.svg" alt="Twitter" /></a>
        <a href="#" class="social-btn"><img src="/icons/instagram.svg" alt="Instagram" /></a>
        <a href="#" class="social-btn"><img src="/icons/linkedin.svg" alt="LinkedIn" /></a>
      </div>
      </div>
    </div>
  </div>

  <div class="copyright">
    <p>Copyright by Sunify, 2024. All Rights Reserved</p>
  </div>
</footer>
