<header class="site-header">
  <div class="container">

    <a href="#" class="logo"><img src="/logo.svg" alt="Logo" /></a>


    <button class="menu-toggle" onclick="toggleMenu()" aria-label="Toggle menu">
      <img id="menu-icon" src="/icons/menu.svg" alt="Menu icon" />
    </button>

    <nav class="main-nav">
      <ul class="nav-links">
        <li><a href="#" onclick="closeMenu()">Home</a></li>
        <li><a href="#about" onclick="closeMenu()">About</a></li>
        <li><a href="#solutions" onclick="closeMenu()">Solutions</a></li>
        <li><a href="#works" onclick="closeMenu()">How We Work</a></li>
        <li><a href="#faqs" onclick="closeMenu()">FAQs</a></li>
        <li><a href="#blog" onclick="closeMenu()">Blog</a></li>
      </ul>

      <div class="social-icons">
        <a href="#" class="social-btn"><img src="/icons/facebook.svg" alt="Facebook" /></a>
        <a href="#" class="social-btn"><img src="/icons/twitter.svg" alt="Twitter" /></a>
        <a href="#" class="social-btn"><img src="/icons/instagram.svg" alt="Instagram" /></a>
        <a href="#" class="social-btn"><img src="/icons/linkedin.svg" alt="LinkedIn" /></a>
      </div>

      <a href="#contact" class="btn-quote" onclick="closeMenu()">
        <img src="/icons/phone-call.svg" alt="Phone" />Call now!
      </a>
    </nav>
  </div>
</header>

<script src="/js/header.js" is:inline></script>