<section class="hero-section">
  <div class="hero-bg-overlay"></div>
  <div class="hero-content">
    <p class="hero-subtitle">Ditch the Past, Move Forward With Renewables.</p>
    <h1 class="hero-title">Power Your Future with Sunify</h1>
    
    <div class="hero-cards">
      <div class="hero-card">
        <img src="/icon1.png" alt="Icono 1" />
        <h4>Your Solar Power Solutions</h4>
      </div>
      <div class="hero-card">
        <img src="/icon2.png" alt="Icono 2" />
        <h4>Wind Grid Power Concept</h4>
      </div>
      <div class="hero-card">
        <img src="/icon3.png" alt="Icono 3" />
        <h4>EV Chargers for Your Garage</h4>
      </div>
    </div>
    
  </div>
</section>
