<section class="power-section" id="team">
  <div class="power-container">
    <div class="power-grid">
      <!-- Columna de texto -->
      <div class="text-col">
        <div class="power-text">
          <h2>Our Experts</h2>
          <h3>Our Expert Members</h3>
          <p>
            Our expert team members bring years of experience and dedication to every solar project.
            With a focus on quality and innovation, they ensure seamless installations and reliable performance,
            delivering excellence at every step.
          </p>
        </div>
      </div>

      <!-- Tarjeta 1 -->
      <div class="team-card">
        <img src="/img12.webp" alt="James Holden" class="profile" />
        <div class="card-info">
          <div>
            <p>Engineer</p>
            <h3>Kevin Martin</h3>
          </div>
          <div class="social-icons">
            <a href="#" class="social-btn">
              <img src="/icons/facebook.svg" alt="Facebook" />
            </a>
          </div>
        </div>
      </div>


      <!-- Tarjeta 2 -->

      <div class="team-card">
        <img src="/img13.webp" alt="Samantha Carter" class="profile" />
        <div class="card-info">
          <div>
            <p>Seo / Founder</p>
            <h3>Samantha Carter</h3>
          </div>
          <div class="social-icons">
            <a href="#" class="social-btn">
              <img src="/icons/facebook.svg" alt="Facebook" />
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
